<div class="block mx-auto my-12 p-8 bg-white w-2/3 border border-gray-200 rounded-lg shadow-lg text-gray-800">
<h1 class="text-center text-2xl font-bold text-blue">Crear propuesta</h1>
<form action="" method="POST", class="mt-4">
    <div class="mr-auto">
        <p class="text-4x15 py-4">Sector: {{sector}}</p>
      </div>
<input type="text" class="border border-gray-200 rounded-md bg-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2 focus:bg-white" placeholder="Título" name="title">
<textarea type="text" class="border border-gray-200 rounded-md bg-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2 focus:bg-white" placeholder="Descripción" name="description"></textarea>
<input type="text" class="border border-gray-200 rounded-md bg-gray-200 w-full text-lg placeholder-gray-500 p-2 my-2 focus:bg-white" placeholder="Segmento" name="segment">
<p class="text-white">.</p>
<button type="submit" class="rounded-md bg-blue-500 w-full text-lg text-white font-semibold p-2 my-3 hover:bg-blue-600 focus:bg-blue-700">Crear propuesta</button>
</form>
</div>